<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="discription" content="This is the official dashboard website of eluminusnodes from here you can manage the servers and much much more">
  <title>404</title>

  <link rel="stylesheet" href="/style/404.css">
  <link rel="stylesheet" href="colors.css">
  <link rel="Website Icon" href="/assets/Logo.jpg"></link>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"></link>
  <link href="https://kit.fontawesome.com/0c750fa2a7.js" rel="stylesheet"></link>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/0c750fa2a7.js" crossorigin="anonymous" rel="stylesheet"></script>
</head>

<body>
  <div class="404e">
    <h1 class="h1404">404</h1>
    <p class="errortext">
      Page not found
    </p>
    </div>
  </body>
</html>